.cardContainer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 30px;
  margin: 20px;
}

.card{
  padding: 20px;
  height: 250px;
  text-align: center;
  align-content: center;
  box-shadow: 2px 2px 10px black;
  border-radius: 12px;
}