body{
  background-image: url(assets/stonestack.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

.clockContainer{
  /* backdrop-filter: blur(10px); */
}

.clock{
  color: white;
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 3px 3px 6px black;
}