body{
  color: #343a40;
}
.outlay{
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 30px;
}
.questionContainer{
  width: 50%;
  padding: 10px 14px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}
.headContainer{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.Open{
  border-top: 4px solid #087f5b;
}
.number{
  color: #ced4da;
}
.numberActive{
  color: #087f5b;
}
