.studentCard{
  display: inline-block;
  border: 1px solid rgb(87, 80, 80);
  padding: 8px;
  margin: 8px;
  max-width: 300px;
  font-family: Arial, Helvetica, sans-serif;
}
.user-greet{
  background-color: lightgreen;
  font-size: 2rem;
  padding: 4px;
  font-weight: bold;
  color: rgb(51, 32, 32);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.4);
  border-radius: 12px;
}
.loginPrompt{
  background: tomato;
  font-size: 2rem;
  padding: 4px;
  font-weight: bold;
  color: blanchedalmond;
  border-radius: 12px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
}